@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.h5,
h5 {
  font-style: normal;
  font-size: 15px;
  margin-top: 10px;
}

.cardHeader {
  background-color: #2e2e2e;
  color: white;
}

.arrow {
    color: white;
}

.borders {
    border-color: #f8f9fa;
}
